.plastic/plastic.selector
.plastic/plastic.wktree
.plastic/plastic.workspace
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/Packages-Update.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
